.jumbotron{

    height: 100vh;
    width: 100%;
    /*text-align: center;*/
    color: white;
    background: linear-gradient(rgba(164,204,65, 1), rgba(164,204,65, 0.5)),
    url('../../../images/gallery/whattoexpect.jpg');
    background-size: 100% 100%;
    display: table;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    
}

.row.expect{

    width: 100%;
    margin: 0px;
    text-align: center;

}

.wte,
.da,
.sunday,
.ns{

    width: 100%;
    display: table;
    height: 50vh;
    text-align: center;

}

.da,
.ns{

    color: white;
    background-color: #A4CC41;

}

.ns{

    margin-bottom: 2%;

}

.btn{

    background-color: #30292F;
    color: #A4CC41;
}

.inside{

    display: table-cell;
    vertical-align: middle;

}

.outside-table{

    display: table-cell;
    vertical-align: middle;
    

}

.inside p,.inside ul{

    padding-left: 5%;
    padding-right: 5%;

}

strong{

    color: #30292F;
}

@media only screen and (min-width : 992px) {
.jumbotron{

    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(164,204,65, 1), 
      rgba(164,204,65, 0.5)
    ),
    /* bottom, image */
    url("../../../images/gallery/whattoexpectvid.gif");
    background-size: 100% 100%;


}
}