# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/nbbf-angular/dist
/nbbf-angular/tmp
/nbbf-angular/out-tsc

# dependencies
/nbbf-angular/node_modules

# IDEs and editors
/nbbf-angular/.idea
/nbbf-angular.project
/nbbf-angular.classpath
/nbbf-angular.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/nbbf-angular/.sass-cache
/nbbf-angular/connect.lock
/nbbf-angular/coverage
/nbbf-angular/libpeerconnection.log
npm-debug.log
testem.log
/nbbf-angular/typings

# e2e
/nbbf-angular/e2e/*.js
/nbbf-angular/e2e/*.map

# System Files
.DS_Store
Thumbs.db
